html{
    background-color: #94936F;
    font-family: 'Alice', 'Quando', 'Quicksand', 'Raleway', serif, sans-serif;
}
h1{
    font-size: 100px;
    height: 240px;
    width: 800px;
    text-align: center;
    border: 10px solid #A63232;
    
}


img{
    width: 600px;
    height: 800px;
}